#include <windows.h>
1 RT_MANIFEST "app.manifest"
1 VERSIONINFO
 FILEVERSION 2,0,0,0
 PRODUCTVERSION 2,0,0,0
 FILETYPE VFT_APP
BEGIN
 BLOCK "StringFileInfo"
 BEGIN
  BLOCK "040904B0"
  BEGIN
   VALUE "FileDescription", "AD Hostname Searcher"
   VALUE "ProductName", "AD Hostname Searcher"
   VALUE "FileVersion", "2.0.0"
  END
 END
 BLOCK "VarFileInfo"
 BEGIN
  VALUE "Translation", 0x409, 1200
 END
END
